<launch>

  <rosparam command="load" file="$(find rslidar_pointcloud)/cfg/lidar_cfg.yaml" />
  
  <node  name="rslidar_node1" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="MEMS"/>
    <param name="pcap" value="/home/rob/Downloads/111.pcap"/>
    <param name="location" value="dev0"/>
    <param name="device_ip" value="192.168.1.200"/>
    <param name="start_from_edge" value="true"/>
  </node>
  

  <node  name="rslidar_node2" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="MEMS"/>
    <param name="location" value="dev1"/>
    <param name="device_ip" value="192.168.1.200"/>
    <param name="pcap" value="/home/rob/Downloads/222.pcap"/>
    <param name="start_from_edge" value="true"/>
  </node>


  <node  name="rslidar_node3" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="MEMS"/>
    <param name="location" value="dev2"/>
    <param name="device_ip" value="192.168.1.200"/>
    <param name="pcap" value="/home/rob/Downloads/333.pcap"/>
    <param name="start_from_edge" value="true"/>
  </node>


  <node  name="rslidar_node4" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="MEMS"/>
    <param name="location" value="dev3"/>
    <param name="device_ip" value="192.168.1.200"/>
    <param name="port" value="6699"/>
    <param name="start_from_edge" value="true"/>
  </node>
  
  
  <node pkg="rslidar_pointcloud" type="cloud_node" output="screen" name="cloud_node">
    <param name="model" value="MEMS"/>
    <param name="dev_list" value=""/>
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_lidar_m6/ChannelNum.csv" />
    <param name="limit_path" value="$(find rslidar_pointcloud)/data/rs_lidar_m6/limit.csv" />
    <param name="slow_path" value="$(find rslidar_pointcloud)/data/rs_lidar_m6/real_slow_axis.csv" />
  </node>


  <node  name="rslidar_node_bp4" pkg="rslidar_driver_bp" type="rslidar_node_bp" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="location" value="dev4"/>
    <param name="device_ip" value="192.168.1.204" />
    <param name="msop_port" value="7004" />
    <param name="difop_port" value="8004"/>
    <param name="cut_angle" value="0"/>
  </node>


  <node  name="rslidar_node_bp5" pkg="rslidar_driver_bp" type="rslidar_node_bp" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="location" value="dev5"/>
    <param name="device_ip" value="192.168.1.205" />
    <param name="msop_port" value="7005" />
    <param name="difop_port" value="8005"/>
    <param name="cut_angle" value="0"/>
  </node>
  
  <node  name="rslidar_node_bp6" pkg="rslidar_driver_bp" type="rslidar_node_bp" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="location" value="dev6"/>
    <param name="device_ip" value="192.168.1.206" />
    <param name="msop_port" value="7006" />
    <param name="difop_port" value="8006"/>
    <param name="cut_angle" value="0"/>
  </node>
  
    <node  name="cloud_node_bp" pkg="rslidar_pointcloud_bp" type="cloud_node_bp" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="$(find rslidar_pointcloud_bp)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud_bp)/data/rs_bpearl/ChannelNum.csv" />
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>




  
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find rslidar_pointcloud)/cfg/rslidar.rviz" />

  
  
</launch>
