<launch>

  <node  name="rslidar_node_bp" pkg="rslidar_driver_bp" type="rslidar_node_bp" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="device_ip" value="192.168.1.200" />
    <param name="msop_port" value="6699" />
    <param name="difop_port" value="7788"/>
    <param name="cut_angle" value="0"/>
  </node>


  <node  name="cloud_node_bp" pkg="rslidar_pointcloud_bp" type="cloud_node_bp" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="$(find rslidar_pointcloud_bp)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud_bp)/data/rs_bpearl/ChannelNum.csv" />
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find rslidar_pointcloud_bp)/rviz_cfg/rslidar.rviz" />
  
  
  
  
</launch>
